<% layout("/layouts/boilerplate")%>

    <body>
        <div class="cover">
            <h1 class="card-title">Get feedback from your </h1>
            <h1>customers with ease</h1>
            <p class="cover-text">Get to know how the customers feel about the products.</p>
                <div>
                    <form action="/dashboard" method="get">
                        <button class="btnn"> Try now</button>
                    </form>
                </div> 
        </div>
        <br>
        <h1>Get organised feedback of products</h1>
        <br>
        <div class="img">
            
            <img src="/img/display-3.png" style="width: 1295px; height: 513px;" alt="" id="laptop">
            <img src="/img/phone-display.png" alt="" id="phone">
        </div>
        <br>
        <div class="cover">
            <h1 class="card-title">Add testimonials to your  </h1>
            <h1>website with no coding!</h1>
            <p class="cover-text"> Copy and paste our HTML code to add to your website.</p>
            <p> We support any no-code platform (Webflow, WordPress, you name it!)</p>
        </div>


        
        
        

    </body>